@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  background: rgb(49, 49, 49);
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

li,p {
  // display: inline-block;
  color: grey;
  font-size: 20px;
  // background-color: wheat;
  // padding: 5px 15px;
}

.container {
  padding: 15px 20px;
  width: 50%;
}

.para p {
  visibility: hidden;
}

.para {
  // position: absolute;
}

h1,.txt {
  color: tomato;
  font-size: 65px;
}

.heading-section {
  min-height: 80px;
}

h2 {
  font-size: 35px;
}

.txt{
  position: absolute;
}

.hide {
  display: none;
}