body {
  background-color: white;
}

body, html{
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  path {
    stroke: none;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

svg.rotate-180 {
  transform: rotate(180deg);
}

svg.blob1,
svg.blob4 {
  path {
   animation-name: blob1;
  }
}

svg.blob2,
svg.blob5 {
  path {
   animation-name: blob2;
  }
}

svg.blob3,
svg.blob6 {
  path {
   animation-name: blob3;
  }
}


@keyframes blob3 {
  0%{
   d: path("m-3.507618,-6.593087c8.157624,-3.342155 36.509716,-6.974296 37.248141,-0.601279c0.738422,6.373016 -2.773517,12.069332 -6.909985,15.808955c-4.136468,3.739623 -14.631117,2.133047 -16.565284,5.757077c-1.934168,3.62403 -0.451855,14.904181 -12.640045,9.882622c-12.18819,-5.021558 -9.29045,-27.505218 -1.132827,-30.847375l0,0z");
  }
  25% {
    d: path("m0.66626,-23.9507c92.88985,-38.0567 415.73159,-79.41544 424.13994,-6.84669c8.40832,72.56874 21.89996,171.53866 -90.07596,142.03853c-111.97592,-29.50013 -5.69902,166.59132 -171.88864,106.94186c-166.18962,-59.64946 -53.74023,101.42691 -149.27599,109.12152c-191.07151,15.38919 -105.78919,-313.19849 -12.89935,-351.25522l0,0z");
  }
  50% {
    d: path("m12.876378,-3.030228c112.656409,-47.635184 738.687928,-89.353877 748.885527,1.479653c10.197599,90.833531 1.260169,262.579043 -109.249514,383.581573c-110.509683,121.00253 -164.830287,78.045892 -353.092749,62.828777c-188.262462,-15.217117 -124.1152,100.30775 -239.980555,109.939003c-231.730708,19.262505 -159.219117,-510.19381 -46.562709,-557.829006l0,0z");   
  }

  100% {
    d: path("m12.876378,-3.030228c112.656409,-47.635184 738.687928,-89.353877 748.885527,1.479653c10.197599,90.833531 1.260169,262.579043 -109.249514,383.581573c-110.509683,121.00253 -164.830287,78.045892 -353.092749,62.828777c-188.262462,-15.217117 -124.1152,100.30775 -239.980555,109.939003c-231.730708,19.262505 -159.219117,-510.19381 -46.562709,-557.829006l0,0z");   
  }
}

// this alone goes from right to left 
@keyframes blob2 {
  0%{
   d: path("M529.52 -19.2C517.69 -9.76 534.9 -2.1 553.84 12.54C572.78 27.19 572.63 61.58 597.55 45.19C622.46 28.8 610.45 2.48 593.44 -13.62C576.43 -29.71 541.36 -28.64 529.52 -19.2Z");
  }
  25% {
    d: path("M200.63 17.41C281.27 91.99 94.22 269.42 282.57 323.97C470.91 378.53 445.12 478.36 586.5 492.61C727.87 506.85 786.9 98.69 727.69 32.8C668.48 -33.09 119.99 -57.17 200.63 17.41Z");
  }
  50% {
    d: path("M-34.18 -6.69C-127.91 92.39 -145.52 471.88 -31 619.93C83.52 767.98 307.94 608.18 564.16 632.62C820.37 657.05 664.12 28.27 616.17 -30.05C568.23 -88.37 59.55 -105.76 -34.18 -6.69Z");   
  }

  100% {
    d: path("M-34.18 -6.69C-127.91 92.39 -145.52 471.88 -31 619.93C83.52 767.98 307.94 608.18 564.16 632.62C820.37 657.05 664.12 28.27 616.17 -30.05C568.23 -88.37 59.55 -105.76 -34.18 -6.69Z");   
  }
}


//wave 1
@keyframes blob1 {
  0%{
   d: path("m-3.747755,-0.702306c-1.741671,-2.982982 29.421614,-3.025162 29.502143,1.872322c0.080529,4.897484 -4.863706,10.815405 -13.449196,8.798895c-8.585496,-2.01651 -6.250901,5.948866 -12.943179,5.129966c-6.692283,-0.818895 -1.368091,-12.818201 -3.109767,-15.801183z");
  }
  25% {
    d: path("m-38.953826,-12.30935c95.824876,-40.518206 485.379014,-33.301773 364.584467,53.475843c-120.794547,86.777608 91.283276,220.247509 -89.543174,176.914435c-180.82645,-43.333082 -121.823532,46.56829 -191.975689,76.288222c-70.152156,29.719941 -178.890488,-266.160286 -83.065604,-306.6785z");
  }
  50% {
    d: path("m-15.377571,-17.328819c179.173713,-73.925632 907.563502,-60.759221 681.701405,97.566893c-225.862098,158.3261 136.835151,435.687735 -165.889735,361.241797c-302.724886,-74.445938 -229.324526,46.503345 -360.495292,100.727484c-131.170765,54.224152 -334.490106,-485.610527 -155.316378,-559.536174z");   
  }

  100% {
    d: path("m-15.377571,-17.328819c179.173713,-73.925632 907.563502,-60.759221 681.701405,97.566893c-225.862098,158.3261 136.835151,435.687735 -165.889735,361.241797c-302.724886,-74.445938 -229.324526,46.503345 -360.495292,100.727484c-131.170765,54.224152 -334.490106,-485.610527 -155.316378,-559.536174z");   
  }
}


.svg {
 z-index: 0;
}

.hide {
  display: none;
}

.secondary {
  z-index: 1;
}

.primary {
  z-index: 2;
}