:root {
  --primary-color: #ff6347;
  --background-color: #353b48; 
}

body {
  background-color: var(--background-color);
}

body, html {
  overflow: hidden;
}

.container {
  position: absolute;
  width: 50vw; // TODO: Find why 100vw make the animation jerky
  height: 50vw;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  filter: url('#goo-square');
  border: 1px solid blue;
  animation: roll 10s ease-in infinite;
}

.box {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -99999px;
  bottom: -99999px;
  // without margin the element is not displayed in the viewport
  margin: auto;
  left: -99999px;
  right: -99999px;
  border-radius: 50%;
  background-color: var(--primary-color);
  animation: shrink 5s infinite; 
  transition: background-color 0.6s ease-in-out;
}

@for $i from 1 through 20 {
  $angle: random();
  .piece:nth-child(#{$i}) {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -99999px;
    bottom: -99999px;
    // without margin the element is not displayed in the viewport
    margin: auto;
    left: -99999px;
    right: -99999px;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: ani-#{$i} 5s infinite; 
    transition: background-color 0.6s ease-in-out;
  }

  @keyframes ani-#{$i} {
    0% {
      // how does this animation work ? 
      transform: rotate($angle * 360deg) translate(0px);      
    }    
    50% {
      // how does this animation work ? 
      transform: rotate($angle * 360deg) translate(150px * random() + 150px) scale(0.3);      
    }
    100% {
      // how does this animation work ? 
      transform: rotate($angle * 360deg) translate(0px);      
    }   
  }
} 


@keyframes roll {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); 
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg); 
  }
}

@keyframes shrink {
  0% {
    transform: scale(1); 
  }

  50% {
    transform: scale(0.5); 
  }

  100% {
    transform: scale(1); 
  }  
}