body, html {
  overflow: hidden;
}

.effect-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blob-container {
  position: absolute;
  width: 50vw; // TODO: Find why 100vw make the animation jerky
  height: 50vw;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  filter: url('#goo-square');
  animation: roll 45s steps(3, end) infinite 2s;

}

.box {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -99999px;
  bottom: -99999px;
  // without margin the element is not displayed in the viewport
  margin: auto;
  left: -99999px;
  right: -99999px;
  border-radius: 50%;
  animation: shrink 15s infinite 2s; 
  transition: background-color 4s linear;
}

@for $i from 1 through 20 {
  $angle: random();
  .piece:nth-child(#{$i}) {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -99999px;
    bottom: -99999px;
    // without margin the element is not displayed in the viewport
    margin: auto;
    left: -99999px;
    right: -99999px;
    border-radius: 50%;
    animation: ani-#{$i} 15s infinite 2s; 
    transition: background-color 4s linear;
  }

  @keyframes ani-#{$i} {
    0% {
      transform: rotate($angle * 360deg) translate(0px) scale(1);      
    }    
    50% {
      // how does this animation work ? 
      transform: rotate($angle * 360deg) translate(100px * random() + 150px) scale(0.15);      
    }
    100% {
      transform: rotate($angle * 360deg) translate(0px) scale(1);      
    }   
  }
} 


@keyframes roll {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); 
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg); 
  }
}

@keyframes shrink {
  0% {
    transform: scale(1); 
  }

  50% {
    transform: scale(0.5); 
  }

  100% {
    transform: scale(1); 
  }  
}